<section class="home" id="home">

        <h1 class="heading"> Your <span>Dashboard</span> </h1>

        <div class="box-container">

            <div class="box">
                <div class="icons">

                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-eye"></a>
                </div>
                <div class="image">
                    {{!-- <img src="images/petbook logo.png" alt=""> --}}
                    {{featured_image}}
                </div>
                <div class="content">
                    <h3>
                        {{content_text}}
                    </h3>


                </div>
            </div>

            <div class="box">
                <div class="icons">

                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-eye"></a>
                </div>
                <div class="video">
                    {{video}}
                    {{!-- <img src="images/petbook logo.png" alt=""> --}}
                </div>
                <div class="content">
                    <h3>
                        {{content_text}}
                    </h3>


                </div>
            </div>

          
    </section>