
<section class="home" id="home">
    <h1 style="color:green;">FROM homepage.handlebars</h1>
    <h1 class="heading"> Your <span>Dashboard</span> </h1>

    <div class="box-container">

        <div class="box">
            <div class="icons">

                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <div class="image">
                <img src="images/petbook logo.png" alt="">
            </div>
            <div class="content">
                <h3>My Post</h3>
            </div>
        </div>

        <div class="box">
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <div class="image">
                <img src="images/petbook logo.png" alt="">
            </div>
            <div class="content">
                <h3>My Post</h3>
            </div>
        </div>

        <div class="box">
            <div class="icons">

                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <div class="image">
                <img src="images/petbook logo.png" alt="">
            </div>
            <div class="content">
                <h3>My Post</h3>

            </div>
        </div>

    </div>

</section>