<h1 style="color:green;">THIS IS FROM login.handlebars</h1>
 <div class="main">
        <div class="container">
            <div id="square">
                <div class="front">
                    <h1>Login</h1>
                    <form action="#" method="post">
                        <input required type="email" name="email" id="email" placeholder="Email" />
                        <input required type="password" name="password" id="password" placeholder="Password" />
                        <button type="text"> <a href="/index.html">Submit </a></button>
                    </form>
                </div>
                <div class="right">
                    <h1>Create a new account</h1>
                    <form action="#" method="post">
                        <input required type="email" name="email" id="email" placeholder="Email" />
                        <input required type="text" name="fullName" id="fullName" placeholder="Full name" />
                        <input required type="password" name="password" id="password" placeholder="Password" />
                        <button type="text"> <a href="/index.html">Submit </a></button>
                    </form>
                </div>
               
            </div>
            <div class="actions">
              
                <button id="frontSide" type="button">Login</button>
                <button id="rightSide" type="button">Sign up</button>
            </div>
        </div>
    </div>
   

<!-- Load scripts that are relevant to the login page-->
<script src="/javascript/login.js"></script>