<div class="main">
  <div class="container">
    <div id="square">
      <div class="right">
        <h1>Create a new account</h1>
        <form action="#" method="post" class="signup-form">
          <input
            required
            type="email"
            name="email"
            id="email"
            placeholder="Email"
          />
          <input
            required
            type="text"
            name="fullName"
            id="fullName"
            placeholder="Full name"
          />
          <input
            required
            type="password"
            name="password"
            id="password"
            placeholder="Password"
          />
          <button type="submit">Submit</button>
        </form>
      </div>

    </div>

  </div>
</div>

<!-- Load scripts that are relevant to the login page-->
<script src="/javascript/signup.js"></script>